oskar_simulation/isaac_sim/**
oskar_simulation/urdf/**
**/__pycache__/
**/meshes/
oskar_perception/IMPLEMENTATION_SUMMARY.md
oskar_perception/CLAUDE.md
datasets/**
oskar_mapping/bagfile_data/**
docs/**
oskar_mapping/offline_pipeline/data/**
oskar_mapping/offline_pipeline/data_archive/**
oskar_mapping/offline_pipeline/offline_pipeline_trial2/fresh_cache
oskar_mapping/offline_pipeline/offline_pipeline_trial2/data/**

