<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tipard_ur20_combined">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import tipard_ur20_combined urdf file -->
    <xacro:include filename="$(find tipard_ur20_combined)/urdf/tipard_ur20_combined.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="tipard_ur20_combined.ros2_control.xacro" />


    <xacro:tipard_ur20_combined_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
